*.dll
*.log
*.dat
*.md
*.old
*.zip
*.exe
*.pdb
*.lem
*.cosmetics
installation_state.yml
manifest.json
**/moresuits/advanced/*.json
License*
credits*
installing.txt
bcp_logDUMP.txt
BepInEx/core

# Image, sounds, etc
*.png
*.wav
*.mp3

# Bundled binary data
lethalthings
lethalextras
hdlethalcompany
animationsbundle
animatorbundle
shipupgrades
suitselect
skillmenu
audionetworkhandler
customanim.unitypackage
AddCustomAnimations.txt
metalpipe
cassetteitem
BepInEx/plugins/EladNLG-EladsHUD/lol.txt
BepInEx/plugins/Backrooms-Backrooms/backrooms
scpcb_dungeon
diversity
BepInEx/plugins/FlipMods-TooManyEmotes/Assets/
