[Settings]

## Should change global bunker enemy spawn rate, not sure if its work
# Setting type: Int32
# Default value: 256
BunkerEnemyScale = 256

## Should change amount of Landmines & Turrets when these events are active: (Landmine & Turret)
# Setting type: Int32
# Default value: 64
LandMineTurretScale = 50

## Use short event message (one/two words), can add surprise effect & difficulty
# Setting type: Boolean
# Default value: false
UseShortChatMessages = false

## Use HullBreaker level settings, if false, use default level settings
# Setting type: Boolean
# Default value: true
useHullBreakerLevelSettings = true

## Use default level settings, if false, you can change on one's own
# Setting type: Boolean
# Default value: false
UseDefaultLevelSettings = false

## Change quota
# Setting type: Boolean
# Default value: true
ChangeQuota = true

## Increased quota
# Setting type: Int32
# Default value: 256
IncreasedQuota = 256

## Max enemy power count
# Setting type: Int32
# Default value: 10
maxEnemyPowerCount = 10

## Max outside enemy power count
# Setting type: Int32
# Default value: 10
maxOutsideEnemyPowerCount = 10

## Max daytime enemy power count
# Setting type: Int32
# Default value: 20
maxDaytimeEnemyPowerCount = 20

## Min scrap
# Setting type: Int32
# Default value: 10
minScrap = 20

## Max scrap
# Setting type: Int32
# Default value: 15
maxScrap = 40

## Min total scrap value
# Setting type: Int32
# Default value: 300
minTotalScrapValue = 500

## Max total scrap value
# Setting type: Int32
# Default value: 700
maxTotalScrapValue = 2000

## The number of events will increase every day. Visit the company building to reset
# Setting type: Boolean
# Default value: false
IncreaseEventCountPerDay = true

## The number of events that will be active at the same time
# Setting type: Int32
# Default value: 3
EventCount = 3

[Weights]

## Increased chance of flowerman spawn
# Setting type: Int32
# Default value: 20
FlowerMan = 15

## Increased chance of landmines spawning
# Setting type: Int32
# Default value: 30
LandMine = 25

## Increased chance of hoarder bug spawn
# Setting type: Int32
# Default value: 50
HoarderBug = 40

## Increased chance of spring man spawning (coil-head)
# Setting type: Int32
# Default value: 10
SpringMan = 10

## Increased chance of puffers spawn
# Setting type: Int32
# Default value: 15
Lizards = 25

## Increased chance of spider spawning
# Setting type: Int32
# Default value: 20
Arachnophobia = 25

## Increased chance of bee hives spawning
# Setting type: Int32
# Default value: 30
Bee = 40

## Increased chance of slime spawn
# Setting type: Int32
# Default value: 20
Slime = 20

## Increased chance of phantom girl spawn
# Setting type: Int32
# Default value: 5
DevochkaPizdec = 5

## Company pays money for killing the enemies / 60 per enemy
# Setting type: Int32
# Default value: 50
EnemyBounty = 50

## The ship will fly into orbit in an hour if one of the workers dies
# Setting type: Int32
# Default value: 5
OneForAll = 3

## All big doors are locked in the level
# Setting type: Int32
# Default value: 20
OpenTheNoor = 15

## Landmines can detonate at any time
# Setting type: Int32
# Default value: 10
OnAPowderKeg = 10

## Increased amount of enemies on the surface during the daytime
# Setting type: Int32
# Default value: 10
OutSideEnemyDay = 10

## Increased chance of spawning Jester and more enemies
# Setting type: Int32
# Default value: 1
Hell = 2

## Nothing happens
# Setting type: Int32
# Default value: 30
Nothing = 50

## Turrets dont work on the moon
# Setting type: Int32
# Default value: 10
HackedTurrets = 25

## Only jars of pickles spawn on the moon
# Setting type: Int32
# Default value: 10
BabkinPogreb = 10

