## Settings file was created by plugin MoreEmotes-Sligili v1.2.2
## Plugin GUID: MoreEmotes

[EMOTE WHEEL]

# Setting type: String
# Default value: v
Key = v

[OTHERS]

## Prevents some emotes from performing while holding any item/scrap
# Setting type: Boolean
# Default value: true
InventoryCheck = false

[QUICK EMOTES]

# Setting type: String
# Default value: 3
Middle Finger = F3

# Setting type: String
# Default value: 6
The Griddy = F6

# Setting type: String
# Default value: 5
Shy = F8

# Setting type: String
# Default value: 4
Clap = F4

# Setting type: String
# Default value: 7
Twerk = F7

# Setting type: String
# Default value: 8
Salute = F5

Enable Middle Finger = true

Enable The Griddy = true

Enable Shy = true

Enable Clap = true

Enable Twerk = true

Enable Salute = true

