## Settings file was created by plugin Lethal Autocomplete v0.4.1
## Plugin GUID: redeye.lethalautocomplete

[Basic]

## Absolute path to the json file with autocomplete words and commands history. By default save.json generated in plugins/red_eye-LethalAutocomplete folder.
# Setting type: String
# Default value: 
Save Data Path = 

[History]

## Regulates if the history be saved after the re-entry
# Setting type: Boolean
# Default value: true
Save History = true

## Max amount of commands to remember during terminal session
# Setting type: Int32
# Default value: 20
Buffer Length = 20

[Keyboard Bindings]

## Get autocomplete for current input
# Setting type: String
# Default value: <Keyboard>/tab
Autocomplete = <Keyboard>/tab

## Get current terminal session next command
# Setting type: String
# Default value: <Keyboard>/upArrow
History Next = <Keyboard>/upArrow

## Get current terminal session prev command
# Setting type: String
# Default value: <Keyboard>/downArrow
History Prev = <Keyboard>/downArrow

[Other]

# Setting type: Boolean
# Default value: false
Enable Debug = false

